.video {
    position: relative;
    color: black;
    background-color: white;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

.video__player {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: fill;
}